.borderForImages {
  border: 4px solid #C2B9B0;
}
.sectionImgsStyle {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 8%;
  border: 4px solid #C2B9B0;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Kalam', cursive;
  font-family: 'Raleway', sans-serif;
}
html {
  font-size: 62.5%;
}
h3 {
  font-size: 2.5rem;
  font-family: 'Kalam';
}
p {
  font-family: 'Raleway';
  font-size: 1.3rem;
}
.refugeeConnections {
  display: flex;
  flex-direction: row;
  background-color: #7E685A;
  padding: 2%;
  color: white;
}
.refugee {
  display: flex;
  font-family: 'Kalam';
  text-align: center;
  font-size: 1.8rem;
}
.connections {
  display: flex;
  font-family: 'Raleway';
  text-align: center;
  font-size: 1.5rem;
}
.headerTextImage {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 2%;
  margin-top: 2%;
}
.headerText {
  margin-left: 5%;
}
h1 {
  font-family: kalam;
  text-align: center;
  margin-top: 8%;
  font-size: 3.5rem;
  width: 300px;
}
.beautifulText {
  margin-top: -5%;
  margin-bottom: 5%;
}
strong {
  color: #026670;
}
.headerImage img {
  width: 200px;
  border-radius: 0px 200px 0px 200px;
  border: 4px solid #C2B9B0;
}
nav {
  text-align: center;
  margin: 5%, 0%, 5%, 0%;
  background-color: #026670;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a {
  color: #FEF9C7;
  text-decoration: none;
  font-size: 1.5rem;
}
a:hover {
  color: #9FEDD7;
}
.mainImage {
  margin-bottom: 55%;
}
.mainImage img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: absolute;
  clip: rect(0%, 100%, 50%, 100%);
}
.circlesAndText {
  display: flex;
  flex-direction: row;
  padding: 5%;
  margin-bottom: 5%;
  justify-content: space-evenly;
}
.subHead1 {
  text-align: center;
  margin: 2%;
}
.subHead2 {
  text-align: center;
  margin: 2%;
}
.subHead3 {
  text-align: center;
  margin: 2%;
}
.stringBoyImg img {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 8%;
  border: 4px solid #C2B9B0;
}
.asianFamilyImg img {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 8%;
  border: 4px solid #C2B9B0;
}
.smilingWomanImg img {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 8%;
  border: 4px solid #C2B9B0;
}
