.borderForImages {
  border: 4px solid #C2B9B0;
}
.circleTextStyle {
  text-align: center;
  margin: 2%;
  text-align: start;
  line-height: 2rem;
}
.sectionImgsStyle {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 8%;
  border: 4px solid #C2B9B0;
}
.sectionSquaresAndText {
  display: flex;
  flex-direction: wrap;
  justify-content: space-evenly;
  padding: 5%;
  text-align: center;
  width: 50%;
}
.squarePhotos {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  border: 4px solid #026670;
}
@media (min-width: 1000px) {
  .squarePhotos {
    width: 250px;
    height: 250px;
  }
}
.bottomLinksSetUp {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bottomLinksSetUp a {
  margin-left: 8%;
  margin-right: 2%;
  margin-top: 2%;
}
.bottomLinksSetUp a a:hover {
  color: #C2B9B0;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin-left: 1%;
  margin-right: 1%;
}
body {
  font-family: 'Kalam', cursive;
  font-family: 'Raleway', sans-serif;
}
html {
  font-size: 62.5%;
}
h3 {
  font-size: 2.5rem;
  font-family: 'Kalam';
}
p {
  font-family: 'Raleway';
  font-size: 1.3rem;
}
.refugeeConnections {
  display: flex;
  flex-direction: row;
  background-color: #7E685A;
  padding: 2%;
  color: white;
  max-width: 100%;
}
.refugee {
  display: flex;
  font-family: 'Kalam';
  text-align: center;
  font-size: 1.8rem;
}
@media (min-width: 1000px) {
  .refugee {
    font-size: 4rem;
  }
}
.connections {
  display: flex;
  font-family: 'Raleway';
  text-align: center;
  font-size: 1.5rem;
}
@media (min-width: 1000px) {
  .connections {
    font-size: 4rem;
  }
}
.headerTextImage {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 2%;
  margin-top: 2%;
}
.headerTextImage h1 {
  margin-left: -30%;
  font-size: 5rem;
  margin-right: 2%;
}
@media (min-width: 1000px) {
  .headerText {
    margin-top: 1%;
  }
}
.headerImage img {
  width: 50px;
  border-radius: 0px 200px 0px 200px;
  border: 4px solid #C2B9B0;
}
@media (min-width: 1000px) {
  .headerImage img {
    width: 50%;
    margin-left: 30%;
    margin-top: -5%;
  }
}
@media (min-width: 500px) {
  .headerImage {
    margin-left: 10%;
  }
}
h1 {
  font-family: kalam;
  margin-top: 8%;
  font-size: 3.5rem;
  width: 300px;
}
@media (min-width: 1000px) {
  h1 {
    font-size: 5rem;
    width: 500px;
    margin-right: 200px;
    margin-top: 2%;
  }
}
@media (min-width: 500px) {
  h1 {
    font-size: 3rem;
    margin-right: 10%;
  }
}
.beautifulText {
  margin-top: -5%;
  margin-bottom: 5%;
}
strong {
  color: #026670;
}
nav {
  text-align: center;
  margin: 5%, 0%, 5%, 0%;
  background-color: #026670;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}
@media (min-width: 1000px) {
  nav {
    padding: 1.5%;
    justify-content: space-evenly;
  }
}
a {
  color: #FEF9C7;
  text-decoration: none;
  font-size: 1.5rem;
}
a:hover {
  color: #9FEDD7;
}
.mainImage {
  background-image: url(https://images.unsplash.com/photo-1559173525-71a8abaaba32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80);
  background-position: center;
  background-size: 100%;
  background-repeat: repeat;
  height: 300px;
  max-width: 100%;
  background-attachment: fixed;
}
@media (min-width: 1000px) {
  .mainImage {
    height: 400px;
  }
}
.circlesAndText {
  display: flex;
  flex-direction: row;
  padding: 5%;
  margin-bottom: 5%;
  justify-content: space-evenly;
}
@media (min-width: 1000px) {
  .circlesAndText {
    margin: 0.5%;
    margin-top: -5%;
    margin-bottom: -1%;
  }
}
.circlesAndText h3 {
  margin-bottom: 2%;
}
.subHead1 {
  text-align: center;
  margin: 2%;
  text-align: start;
  line-height: 2rem;
}
.subHead2 {
  text-align: center;
  margin: 2%;
  text-align: start;
  line-height: 2rem;
}
.subHead3 {
  text-align: center;
  margin: 2%;
  text-align: start;
  line-height: 2rem;
}
.stringBoyImg img {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 8%;
  border: 4px solid #C2B9B0;
}
.asianFamilyImg img {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 8%;
  border: 4px solid #C2B9B0;
}
.smilingWomanImg img {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 8%;
  border: 4px solid #C2B9B0;
}
.impact {
  text-align: center;
  width: 100%;
  background-color: #C2B9B0;
  color: #7E685A;
  padding-top: 40px;
  padding-bottom: 100px;
}
@media (min-width: 1000px) {
  .impact {
    padding: 2px;
  }
}
.impactText {
  text-align: center;
  width: 100%;
  font-size: 4rem;
}
@media (min-width: 1000px) {
  .impactText {
    font-size: 6rem;
    padding-top: 80px;
  }
}
.impact p {
  font-size: 1.8rem;
  margin-top: 10%;
}
@media (min-width: 1000px) {
  .impact p {
    font-size: 3rem;
  }
}
.squaresAndText1 {
  text-align: center;
}
.squaresAndText2 {
  display: flex;
  flex-direction: wrap;
  justify-content: space-evenly;
  padding: 5%;
  text-align: center;
  width: 50%;
  margin-left: 20%;
}
.squaresAndText3 {
  display: flex;
  flex-direction: wrap;
  justify-content: space-evenly;
  padding: 5%;
  text-align: center;
  width: 50%;
  margin-left: 20%;
  margin-top: -10%;
}
.muhammad img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  border: 4px solid #026670;
}
@media (min-width: 1000px) {
  .muhammad img {
    width: 250px;
    height: 250px;
  }
}
.anika img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  border: 4px solid #026670;
}
@media (min-width: 1000px) {
  .anika img {
    width: 250px;
    height: 250px;
  }
}
.zuri img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  border: 4px solid #026670;
}
@media (min-width: 1000px) {
  .zuri img {
    width: 250px;
    height: 250px;
  }
}
.valentina img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  border: 4px solid #026670;
}
@media (min-width: 1000px) {
  .valentina img {
    width: 250px;
    height: 250px;
  }
}
.subHead4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15%;
}
.subHead4 a {
  color: #7E685A;
}
.subHead4 a:hover {
  color: #C2B9B0;
}
@media (min-width: 1000px) {
  .subHead4 h3 {
    font-size: 4rem;
  }
}
.subHead5 {
  text-align: center;
  padding: 15%;
}
.subHead5 a {
  color: #7E685A;
}
.subHead5 a:hover {
  color: #C2B9B0;
}
@media (min-width: 1000px) {
  .subHead5 h3 {
    font-size: 4rem;
  }
}
.subHead6 {
  text-align: center;
  padding: 15%;
}
.subHead6 a {
  color: #7E685A;
}
.subHead6 a:hover {
  color: #C2B9B0;
}
@media (min-width: 1000px) {
  .subHead6 h3 {
    font-size: 4rem;
  }
}
.subHead7 {
  text-align: center;
  padding: 15%;
}
.subHead7 a {
  color: #7E685A;
}
.subHead7 a:hover {
  color: #C2B9B0;
}
@media (min-width: 1000px) {
  .subHead7 h3 {
    font-size: 4rem;
  }
}
.call2action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 4rem;
  font-family: 'Kalam';
  background-color: #9FEDD7;
  color: #026670;
  padding-top: 60px;
  padding-bottom: 120px;
  max-width: 100%;
  text-align: center;
  padding-top: 30%;
}
@media (min-width: 1000px) {
  .call2action {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.call2action a {
  font-size: 3rem;
  margin-top: 8%;
  width: 150px;
  background-color: #7E685A;
  border-radius: 5%;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  margin-left: 45%;
}
.call2action a:hover {
  background-color: #C2B9B0;
  color: #026670;
}
.bottomLinks {
  margin-right: 3%;
}
.bottomLinks h3 {
  margin-left: 4%;
  margin-top: 4%;
  display: flex;
  justify-content: center;
}
.bottomLinks a {
  color: #7E685A;
}
.bottomLinks a:hover {
  color: #C2B9B0;
}
.bottomLinks1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bottomLinks1 a {
  margin-left: 8%;
  margin-right: 2%;
  margin-top: 2%;
}
.bottomLinks1 a a:hover {
  color: #C2B9B0;
}
.bottomLinks2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bottomLinks2 a {
  margin-left: 8%;
  margin-right: 2%;
  margin-top: 2%;
}
.bottomLinks2 a a:hover {
  color: #C2B9B0;
}
.bottomLinks3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bottomLinks3 a {
  margin-left: 8%;
  margin-right: 2%;
  margin-top: 2%;
}
.bottomLinks3 a a:hover {
  color: #C2B9B0;
}
.socialMedia {
  text-align: center;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 4%;
}
.socialMedia img {
  width: 50px;
  height: 50px;
  margin-left: 2%;
}
footer p {
  margin-top: 5%;
  margin-left: 7%;
  text-align: center;
}
footer a {
  color: black;
}
footer a:hover {
  color: #026670;
}
.ourTeam {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-left: 15%;
  padding-bottom: 5%;
  margin-bottom: 10%;
  border-bottom: 2px solid #026670;
  margin-left: 10%;
  margin-right: 10%;
}
.ourTeam h1 {
  font-size: 8rem;
  color: #7E685A;
}
.staffPhotos p {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 5%;
  font-size: 4rem;
  width: 800px;
}
.staffPhotos strong {
  font-family: "Kalam";
  font-size: 6rem;
}
.staffPhotos .amanda {
  display: flex;
  flex-direction: row;
}
.staffPhotos .amy {
  display: flex;
  flex-direction: row;
}
.staffPhotos .anam {
  display: flex;
  flex-direction: row;
}
.staffPhotos .luis {
  display: flex;
  flex-direction: row;
}
.staffPhotos .yasir {
  display: flex;
  flex-direction: row;
}
.staffPhotos .vlad {
  display: flex;
  flex-direction: row;
}
