
h1 {
    font-family: kalam; 
    text-align: center;

    .beautifulText {
        margin-top: 50%;
    }
}

strong {
    color: #026670
}

nav {
    text-align: center;
    margin: 5%;
    background-color: #026670;
    padding: 5%;
}

a {
    color: #FEF9C7;
}

.carousel {

}