.refugeeConnections {
    display: flex;
    flex-direction: row;
    background-color: @brown;
    padding: 2%;
    color: white;
}

.refugee {
    display: flex;
    font-family: 'Kalam';
    text-align: center;
    font-size: 1.8rem;
    }

.connections {
    display: flex;
    font-family: 'Raleway';
    text-align: center;
    font-size: 1.5rem;
    }

.headerTextImage {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 2%;
    margin-top: 2%;
    // border: 5px solid black;
}

.headerText {
    margin-left: 5%;
    // border: 2px solid black;
}

h1 {
    font-family: kalam; 
    margin-top: 8%;  
    font-size: 3.5rem;
    width: 300px;
    
}

.beautifulText {
    margin-top: -5%;
    margin-bottom: 5%;
}

strong {
    color: #026670
}

.headerImage {
 
    img {
    width: 200px;
    border-radius: 0px 200px 0px 200px;
    .borderForImages();
    }
}

nav {
    text-align: center;
    margin: 5%, 0%, 5%, 0%;
    background-color: @dark-tourquoise;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: @light-yellow;
    text-decoration: none;
    font-size: 1.5rem; 
}

a:hover {
    color: @sea-foam;
}

.mainImage {
    margin-bottom: 45%;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        position: absolute;
        clip: rect(0%,100%,50%,100%);
    }
}

.circlesAndText {
    display: flex;
    flex-direction: row;
    padding: 5%;
    margin-bottom: 5%;
    justify-content: space-evenly;
}

.subHead1 {
    text-align: center;
    margin: 2%;
}

.subHead2 {
    text-align: center;
    margin: 2%;
}

.subHead3 {
    text-align: center;
    margin: 2%;
}

.stringBoyImg {
    img {
        .sectionImgsStyle(); 
    }
}

.asianFamilyImg {
    img {
        .sectionImgsStyle(); 
    }
}

.smilingWomanImg {
    img {
        .sectionImgsStyle(); 
    }
}

.impact {
    text-align: center;
    width: 100%;
    background-color: @light-brown;
    color: @brown;
    padding-top: 60px;
    padding-bottom: 120px;
    // border: 2px solid black;
}

.impact p {
    font-size: 1.8rem;
}

.impactText {
    text-align: center;
    // border: 2px solid black;
    width: 100%;
    font-size: 4rem;
}