.refugeeConnections {
    display: flex;
    flex-direction: row;
    background-color: @brown;
    padding: 2%;
    color: white;
}

.refugee {
    display: flex;
    font-family: 'Kalam';
    text-align: center;
    font-size: 1.8rem;
    }

.connections {
    display: flex;
    font-family: 'Raleway';
    text-align: center;
    font-size: 1.5rem;
    }

.headerTextImage {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 2%;
    margin-top: 2%;
    // border: 5px solid black;
}

.headerText {
    margin-left: 5%;
    // border: 2px solid black;
}

h1 {
    font-family: kalam; 
    margin-top: 8%;  
    font-size: 3.5rem;
    width: 300px;
    
}

.beautifulText {
    margin-top: -5%;
    margin-bottom: 5%;
}

strong {
    color: #026670
}

.headerImage {
 
    img {
    width: 200px;
    border-radius: 0px 200px 0px 200px;
    .borderForImages();
    }
}

nav {
    text-align: center;
    margin: 5%, 0%, 5%, 0%;
    background-color: @dark-tourquoise;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: @light-yellow;
    text-decoration: none;
    font-size: 1.5rem; 
}

a:hover {
    color: @sea-foam;
}

// .mainImage {
//     margin-bottom: 45%;

//     img {
//         width: 100%;
//         height: 300px;
//         // object-fit: cover;
//         // position: absolute;
//         // clip: rect(0%,100%,50%,100%);
//     }
// }

.mainImage {
    background-image: url(https://images.unsplash.com/photo-1559173525-71a8abaaba32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80);
    background-position: center;
    background-size: 100%;
    background-repeat: repeat;
    height: 300px;
    max-width: 100%;
    background-attachment: fixed;
}

.circlesAndText {
    display: flex;
    flex-direction: row;
    padding: 5%;
    margin-bottom: 5%;
    justify-content: space-evenly;
}

.subHead1 {
    text-align: center;
    margin: 2%;
}

.subHead2 {
    text-align: center;
    margin: 2%;
}

.subHead3 {
    text-align: center;
    margin: 2%;
}

.stringBoyImg {
    img {
        .sectionImgsStyle(); 
    }
}

.asianFamilyImg {
    img {
        .sectionImgsStyle(); 
    }
}

.smilingWomanImg {
    img {
        .sectionImgsStyle(); 
    }
}

.impact {
    text-align: center;
    width: 100%;
    background-color: @light-brown;
    color: @brown;
    padding-top: 40px;
    padding-bottom: 100px;
    // border: 2px solid black;
}

.impact p {
    font-size: 1.8rem;
    margin-top: 10%;
}

.impactText {
    text-align: center;
    // border: 2px solid black;
    width: 100%;
    font-size: 4rem;
}

.squaresAndText1 {
    text-align: center;
    // border: 2px solid black;
}

.squaresAndText2 {
    .sectionSquaresAndText();
    margin-left: 20%;
    // border: 2px solid black;
}

.squaresAndText3 {
    .sectionSquaresAndText();
    margin-left: 20%;
    margin-top: -10%;
    // border: 2px solid black;
}

.muhammad {
    img {
        .squarePhotos();
        // border: 2px solid black;
    }
}

.anika {
    img {
        .squarePhotos();
        // border: 2px solid black;
    }
}

.zuri {
    img {
        .squarePhotos();
        // border: 2px solid black;
    }
}

.valentina {
    img {
        .squarePhotos();
        // border: 2px solid black;
    }
}

.subHead4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 2px solid black;
    padding: 15%;

    a {
        color: @brown;
    }

        a:hover {
            color: @light-brown;
        }
}

.subHead5 {
    text-align: center;
    // border: 2px solid black;
    padding: 15%;


    a {
        color: @brown;
    }

        a:hover {
            color: @light-brown;
        }
}

.subHead6 {
    text-align: center;
    padding: 15%;
    // border: 2px solid black;

    a {
        color: @brown;
    }

        a:hover {
            color: @light-brown;
        }
}

.subHead7 {
    text-align: center;
    padding: 15%;
    // border: 2px solid black;

    a {
        color: @brown;
    }

        a:hover {
            color: @light-brown;
        }
}

.call2action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4rem;
    font-family: 'Kalam';
    background-color: @sea-foam;
    color: @dark-tourquoise;
    padding-top: 60px;
    padding-bottom: 120px;
    width: 100%;
    text-align: center;
    padding-top: 30%;

    a {
        font-size: 3rem;
        margin-top: 8%;
        width: 150px;
        background-color: @brown;
        border-radius: 5%;
        padding-top: 15px;
        padding-bottom: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-left: 40%;
    }

        a:hover {
            background-color: @light-brown;
            color: @dark-tourquoise;
        }
}

.bottomLinks {

    h3 {
        margin-left: 4%;
        margin-top: 4%;
        display: flex;
        justify-content: center;
    }

    a {
        color: @brown;
    }

        a:hover {
            color: @light-brown;
        }
}

.bottomLinks1 {
    
    .bottomLinksSetUp();
}

.bottomLinks2 {
    .bottomLinksSetUp();
}

.bottomLinks3 {
    .bottomLinksSetUp();
}

.socialMedia {
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;

    img {
        width: 50px;
        height: 50px;
        margin-left: 2%;
    }    
}

.footer {

    border: 2px solid black;

    p {
    margin-top: 10%;
    text-align: center;
    border: 2px solid black;
    }
}